/* MediaQ */
    /* Desktop view  */
    @media (Max-width:1980px){
        body{
            background-color:green;
        }
    }
    /* Tablet */
    @media (Max-width:1080px){
        body{
            background-color:blueviolet;
        }
    }
    /* moblie */
    @media (Max-width:650px){
        body{
            background-color:seagreen;
        }
    }
/* General Css */
body{
    margin: 0px;
}
.navDiv{
    /* border: solid black; */
    background-color: rgba(17,0,17,1.00);
    color: white;
    height: 50px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0px 15px 29px 11px #000000; */
    position: relative;  
    z-index: 1;
}
.leftNav{
    /* border: solid black; */
    width:20%;
    padding-left: 10px;
}
.midNav{
    /* border: solid black; */
    width:60%;
}
.rightNav{
    /* border: solid black; */
    width:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoContainer{
    /* border: solid black; */
}
.logoContainer img{
    height: 40px;
    /* width: 100%; */
}
.navLinks{
    /* border: solid black; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.nlink{
    /* border: solid black; */
    width: 33%;
}
.nlink a{
    color: white;
    text-decoration: none;
}
.nlink a:hover{
    .navLinks{
        background-color: rgba(40, 37, 37, 0.368);
    }
    cursor: pointer;
    color: blueviolet;
}
.lang{
    /* border: solid black; */
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.navbtn{
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.navbtn:hover{
    background-color: blueviolet;
    color: blue;
    cursor: pointer;
}

.charcarousel{
    border:solid orange;
    width: 100%;
    height: 90vh;
    position: relative;
}
.characterslide{
    /* border: solid blue; */
    /* display: flex; */
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.charslide{
    border: solid black;
    width: 25%;
    height: 100%;   
    position: absolute;
    left:40%;
    opacity: 0;
    display: flex;
    justify-content: center;
}
.charslide[data-active]{
    opacity: 1;
}
.charslide img{
    display: block;
    height: 100%;
    object-position: center;
}
.caroBtn{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform:translateY(-50%);
    cursor: pointer;
    border-radius: 1.5rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0 ,0 ,.1);
}
.caroBtn:hover,.caroBtn:focus{
    color:white;
    background-color: rgba(0, 0 ,0 ,.2);
}
.caroBtn:focus{
outline: 1px solid black;
}
.caroBtn.prev{
    left: 1rem;
}
.caroBtn.next{
    right: 1rem;
}

.bscarol{
    border: solid black;
    /* width: 100%; */
    height: 90vh;
}
.carousel{
    height: 100%;
} 
.carousel-inner{
    height: 100%;    
    display: flex ;
    /* object-fit: scale-down; */
}
.carousel-item{
    height: 100%;
}








.char{
    height: 100%;
    display: flex;
}
.charimg{
    border: solid brown;
    display: flex;
    height: 100%;
    width: 40%;
}
.charimg img{
    /* border: solid black; */
    height: 100%;
    object-fit: contain;
}
.charsinfo{
    border: solid orange;
    width: 60%;
    height: 100%;
}

