/* MediaQ */
    /* Desktop view  */
    @media (Max-width:1980px){
        body{
            background-color:green;
        }
    }
    /* Tablet */
    @media (Max-width:1080px){
        body{
            background-color:blueviolet;
        }
    }
    /* moblie */
    @media (Max-width:650px){
        body{
            background-color:seagreen;
        }
    }
/* General Css */
body{
    margin: 0px;
}
.navDiv{
    /* border: solid black; */
    background-color: rgba(17,0,17,1.00);
    color: white;
    height: 50px;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0px 15px 29px 11px #000000; */
    position: relative;  
    z-index: 1;
}
.leftNav{
    /* border: solid black; */
    width:20%;
    padding-left: 10px;
}
.midNav{
    /* border: solid black; */
    width:60%;
}
.rightNav{
    /* border: solid black; */
    width:20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logoContainer{
    /* border: solid black; */
}
.logoContainer img{
    height: 40px;
    /* width: 100%; */
}
.navLinks{
    /* border: solid black; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.nlink{
    /* border: solid black; */
    width: 33%;
}
.nlink a{
    color: white;
    text-decoration: none;
}
.nlink a:hover{
    .navLinks{
        background-color: rgba(40, 37, 37, 0.368);
    }
    cursor: pointer;
    color: blueviolet;
}
.lang{
    /* border: solid black; */
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.navbtn{
    border: none;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.navbtn:hover{
    background-color: blueviolet;
    color: blue;
    cursor: pointer;
}